
@{
    ViewData["Title"] = "Chef";
}


<br />
 <!-- team section -->
<section id="team" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Şef</h1>
                <hr>
                <p>Şefimiz Fuat Akça siz değerli müşterilerinin memnuniyeti için kaliteli ve güler yüzlü hizmet sunmaktadır. </p>
                <br />
                <img src="http://www.cemkarakus.com/wp-content/uploads/2016/02/chefs.jpg" alt="sefResmi" />
            </div>
        </div>
    </div>
</section>
